body{
    
}

#forward {
float: right;
}

#reverse {
float: left;
}
/*Prop Map */
#map {
height: 670px;
width: 100%;
display: inline-block;
}

.sequence-control-container {
width: 350px;
height: 150px;
background-color: rgba(255,255,255,0.8);
padding: 10px;
line-height: 15px;
text-align: center;
border: solid black 2px;
}

#sequence-legend {
    text-indent: 22px;
    font-size: 14px;

}

.legend-control-container {
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 5px;
    text-align: center;
    height: 210px;
    width: 275px;
    border-radius: 5px;
    border: solid black 2px;
}
/*Title of bottom right legend */
#temporal-legend {
    text-align: center;
    padding: 20px;
    width: 170px;
    height: 20px;
    overflow: normal;
}
#attribute-legend {
    width: 300px;
    height:auto;
}

.range-slider {
width: 200px;
}

